*.swp

node_modules/

/.vscode
/*.synctex.gz

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf
!template/image/sysu-logo.pdf

## Generated if empty string is given at "Please type another file name for output:"
.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Build tool directories for auxiliary files
# latexrun
latex.out/

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.pre
*.snm
*.vrb

# changes
*.soc

# comment
*.cut

# cprotect
*.cpt

# elsarticle (documentclass of Elsevier journals)
*.spl

# endnotes
*.ent

# fixme
*.lox

# feynmf/feynmp
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm

#(r)(e)ledmac/(r)(e)ledpar
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs

# uncomment this for glossaries-extra (will ignore makeindex's style files!)
# *.ist

# gnuplottex
*-gnuplottex-*

# gregoriotex
*.gaux
*.gtex

# htlatex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.xref

# hyperref
*.brf

# knitr
*-concordance.tex
# TODO Uncomment the next line if you use knitr and want to ignore its generated tikz files
# *.tikz
*-tikzDictionary

# listings
*.lol

# luatexja-ruby
*.ltjruby

# makeidx
*.idx
*.ilg
*.ind

# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# minted
_minted*
*.pyg

# morewrites
*.mw

# nomencl
*.nlg
*.nlo
*.nls

# pax
*.pax

# pdfpcnotes
*.pdfpc

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# scrwfile
*.wrt

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# pdfcomment
*.upa
*.upb

# pythontex
*.pytxcode
pythontex-files-*/

# tcolorbox
*.listing

# thmtools
*.loe

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# todonotes
*.tdo

# vhistory
*.hst
*.ver

# easy-todo
*.lod

# xcolor
*.xcp

# xmpincl
*.xmpi

# xindy
*.xdy

# xypic precompiled matrices and outlines
*.xyc
*.xyd

# endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp*

## Editors:
# WinEdt
*.bak
*.sav

# Texpad
.texpadtmp

# LyX
*.lyx~

# Kile
*.backup

# gummi
.*.swp

# KBibTeX
*~[0-9]*

# TeXnicCenter
*.tps

# auto folder when using emacs and auctex
./auto/*
*.el

# expex forward references with \gathertags
*-tags.tex

# standalone packages
*.sta

# Makeindex log files
*.lpz

# xwatermark package
*.xwm

# REVTeX puts footnotes in the bibliography by default, unless the nofootinbib
# option is specified. Footnotes are the stored in a file with suffix Notes.bib.
# Uncomment the next line to have this generated file ignored.
#*Notes.bib
diff
*.xml
*.nav
*.snm
~*
.~*
.fuse*
*.txt.data
*.zip
analyse/
paper
ardrone.pdf
template.pdf
old
*.aux
*.bbl
*.blg
*.ent
*.loa
*.lof
*.log
*.lot
*.out
*.toc
main.pdf
missfont.log
svn-commit.tmp
sysuthesis.tar.gz
中山大学本科毕业论文非官方LaTeX模版0.0.*.tar.gz




/论文基础
src_code/FIRE_calculator.py
src_code/output.xlsx
src_code/plot_chap04_density_charts.py
src_code/plot_chap04_sa_curves_b20.py
src_code/prompt.md
src_code/与原版cugr2的对比.xlsx
src_code/工程说明.md
src_code/经过数据标注的output.xlsx
src_code/.devcontainer/devcontainer.json
src_code/.devcontainer/Dockerfile
src_code/.devcontainer/postCreate.sh
src_code/.devcontainer/requirements.txt
src_code/.github/agents/冯俊熙的global-router.agent.md
src_code/.vscode/c_cpp_properties.json
src_code/.vscode/settings.json
src_code/Differentiable-Global-Router/.gitignore
src_code/Differentiable-Global-Router/CLA
src_code/Differentiable-Global-Router/CUGR-comment.md
src_code/Differentiable-Global-Router/CUGR2.sh
src_code/Differentiable-Global-Router/data_process_CUGR2.py
src_code/Differentiable-Global-Router/data.py
src_code/Differentiable-Global-Router/DGR.sh
src_code/Differentiable-Global-Router/experiments.sh
src_code/Differentiable-Global-Router/LICENSE
src_code/Differentiable-Global-Router/main_stochastic.py
src_code/Differentiable-Global-Router/model.py
src_code/Differentiable-Global-Router/ray.sh
src_code/Differentiable-Global-Router/README.md
src_code/Differentiable-Global-Router/run_innovus.sh
src_code/Differentiable-Global-Router/test.py
src_code/Differentiable-Global-Router/util.py
src_code/Differentiable-Global-Router/.devcontainer/devcontainer.json
src_code/Differentiable-Global-Router/.devcontainer/Dockerfile
src_code/Differentiable-Global-Router/.devcontainer/requirements.txt
src_code/Differentiable-Global-Router/deprecated_scripts/DP_layer_assignment.py
src_code/Differentiable-Global-Router/deprecated_scripts/drcu.sh
src_code/Differentiable-Global-Router/deprecated_scripts/experiments_0716.sh
src_code/Differentiable-Global-Router/deprecated_scripts/extreme.bash
src_code/Differentiable-Global-Router/deprecated_scripts/l-shape_z-shape.bash
src_code/Differentiable-Global-Router/deprecated_scripts/large.bash
src_code/Differentiable-Global-Router/deprecated_scripts/layer_assignment.py
src_code/Differentiable-Global-Router/deprecated_scripts/mid.bash
src_code/Differentiable-Global-Router/deprecated_scripts/small.bash
src_code/Differentiable-Global-Router/other_scripts/data_process.py
src_code/Differentiable-Global-Router/other_scripts/experiments_2via.sh
src_code/Differentiable-Global-Router/other_scripts/experiments_CUGR2.sh
src_code/Differentiable-Global-Router/other_scripts/experiments_formal.sh
src_code/Differentiable-Global-Router/other_scripts/experiments_Tree.sh
src_code/Differentiable-Global-Router/other_scripts/experiments_Z.sh
src_code/Differentiable-Global-Router/other_scripts/ilp.py
src_code/Differentiable-Global-Router/other_scripts/main_ray.py
src_code/Differentiable-Global-Router/other_scripts/main.py
src_code/Differentiable-Global-Router/other_scripts/New_Tree.sh
src_code/Differentiable-Global-Router/other_scripts/ours_CZ.sh
src_code/Differentiable-Global-Router/other_scripts/ours_NoVia.sh
src_code/Differentiable-Global-Router/other_scripts/ours_oldSort.sh
src_code/Differentiable-Global-Router/other_scripts/ours_softmax.sh
src_code/Differentiable-Global-Router/other_scripts/ours_viacostdouble.sh
src_code/Differentiable-Global-Router/other_scripts/plot_coeff.py
src_code/Differentiable-Global-Router/other_scripts/plot_DACRebuttal.py
src_code/Differentiable-Global-Router/other_scripts/plot.py
src_code/Differentiable-Global-Router/other_scripts/plot.tcl
src_code/Differentiable-Global-Router/other_scripts/ray_search_lr.py
src_code/Differentiable-Global-Router/other_scripts/ray_search.py
src_code/Differentiable-Global-Router/other_scripts/read_stat.py
src_code/Differentiable-Global-Router/other_scripts/README.md
src_code/Differentiable-Global-Router/other_scripts/test_lr.py
src_code/Differentiable-Global-Router/other_scripts/test_new.py
src_code/Differentiable-Global-Router/other_scripts/test_opt.py
src_code/Differentiable-Global-Router/other_scripts/test_scheduler.py
src_code/Differentiable-Global-Router/other_scripts/tmp.py
src_code/__pycache__/FIRE_calculator.cpython-310.pyc
src_code/benchmark/Nangate.lef
src_code/benchmark/ariane133_51/ariane133_51.def
src_code/benchmark/ariane133_51/ariane133_51.input.def
src_code/benchmark/ariane133_51/ariane133_51.input.lef
src_code/benchmark/ariane133_51/ariane133_51.output2
src_code/benchmark/ariane133_51/ariane133_51.output2.CUGR2_tree.txt
src_code/benchmark/ariane133_68/ariane133_68.def
src_code/benchmark/ariane133_68/ariane133_68.input.def
src_code/benchmark/ariane133_68/ariane133_68.input.lef
src_code/benchmark/bsg_chip/bsg_chip.def
src_code/benchmark/bsg_chip/bsg_chip.input.def
src_code/benchmark/bsg_chip/bsg_chip.input.lef
src_code/benchmark/bsg_chip/bsg_chip.output2
src_code/benchmark/bsg_chip/bsg_chip.output2.CUGR2_tree.txt
src_code/benchmark/cluster/cluster.input.def
src_code/benchmark/cluster/cluster.input.lef
src_code/benchmark/cluster/cluster.output2.CUGR2_tree.txt
src_code/benchmark/ispd18_test1/ispd18_test1.CUGR2.guide
src_code/benchmark/ispd18_test1/ispd18_test1.CUGR2.guide.CUGR2_tree.txt
src_code/benchmark/ispd18_test1/ispd18_test1.DGR.guide
src_code/benchmark/ispd18_test1/ispd18_test1.DGR.guide.dgr_tree.txt
src_code/benchmark/ispd18_test1/ispd18_test1.input.def
src_code/benchmark/ispd18_test1/ispd18_test1.input.lef
src_code/benchmark/ispd18_test1/ispd18_test1.output2
src_code/benchmark/ispd18_test1/ispd18_test1.output2.CUGR2_tree.txt
src_code/benchmark/ispd18_test10/ispd18_test10.input.def
src_code/benchmark/ispd18_test10/ispd18_test10.input.lef
src_code/benchmark/ispd18_test10_metal5/ispd18_test10_metal5.CUGR2.guide
src_code/benchmark/ispd18_test10_metal5/ispd18_test10_metal5.CUGR2.guide.CUGR2_tree.txt
src_code/benchmark/ispd18_test10_metal5/ispd18_test10_metal5.DGR.guide
src_code/benchmark/ispd18_test10_metal5/ispd18_test10_metal5.DGR.guide.dgr_tree.txt
src_code/benchmark/ispd18_test10_metal5/ispd18_test10_metal5.input.def
src_code/benchmark/ispd18_test10_metal5/ispd18_test10_metal5.input.lef
src_code/benchmark/ispd18_test10_metal5/ispd18_test10_metal5.output2
src_code/benchmark/ispd18_test10_metal5/ispd18_test10_metal5.output2.CUGR2_tree.txt
src_code/benchmark/ispd18_test2/ispd18_test2.input.def
src_code/benchmark/ispd18_test2/ispd18_test2.input.lef
src_code/benchmark/ispd18_test2/ispd18_test2.output2
src_code/benchmark/ispd18_test2/ispd18_test2.output2.CUGR2_tree.txt
src_code/benchmark/ispd18_test3/ispd18_test3.input.def
src_code/benchmark/ispd18_test3/ispd18_test3.input.lef
src_code/benchmark/ispd18_test4/ispd18_test4.input.def
src_code/benchmark/ispd18_test4/ispd18_test4.input.lef
src_code/benchmark/ispd18_test5/ispd18_test5.input.def
src_code/benchmark/ispd18_test5/ispd18_test5.input.lef
src_code/benchmark/ispd18_test5_metal5/ispd18_test5_metal5.CUGR2.guide
src_code/benchmark/ispd18_test5_metal5/ispd18_test5_metal5.CUGR2.guide.CUGR2_tree.txt
src_code/benchmark/ispd18_test5_metal5/ispd18_test5_metal5.DGR.guide
src_code/benchmark/ispd18_test5_metal5/ispd18_test5_metal5.DGR.guide.dgr_tree.txt
src_code/benchmark/ispd18_test5_metal5/ispd18_test5_metal5.input.def
src_code/benchmark/ispd18_test5_metal5/ispd18_test5_metal5.input.lef
src_code/benchmark/ispd18_test5_metal5/ispd18_test5_metal5.output2
src_code/benchmark/ispd18_test5_metal5/ispd18_test5_metal5.output2.CUGR2_tree.txt
src_code/benchmark/ispd18_test6/ispd18_test6.input.def
src_code/benchmark/ispd18_test6/ispd18_test6.input.lef
src_code/benchmark/ispd18_test7/ispd18_test7.input.def
src_code/benchmark/ispd18_test7/ispd18_test7.input.lef
src_code/benchmark/ispd18_test8/ispd18_test8.input.def
src_code/benchmark/ispd18_test8/ispd18_test8.input.lef
src_code/benchmark/ispd18_test8/ispd18_test8.output2
src_code/benchmark/ispd18_test8/ispd18_test8.output2.CUGR2_tree.txt
src_code/benchmark/ispd18_test8_metal5/ispd18_test8_metal5.CUGR2.guide
src_code/benchmark/ispd18_test8_metal5/ispd18_test8_metal5.CUGR2.guide.CUGR2_tree.txt
src_code/benchmark/ispd18_test8_metal5/ispd18_test8_metal5.DGR.guide
src_code/benchmark/ispd18_test8_metal5/ispd18_test8_metal5.DGR.guide.dgr_tree.txt
src_code/benchmark/ispd18_test8_metal5/ispd18_test8_metal5.input.def
src_code/benchmark/ispd18_test8_metal5/ispd18_test8_metal5.input.lef
src_code/benchmark/ispd18_test8_metal5/ispd18_test8_metal5.output2
src_code/benchmark/ispd18_test8_metal5/ispd18_test8_metal5.output2.CUGR2_tree.txt
src_code/benchmark/ispd18_test9/ispd18_test9.input.def
src_code/benchmark/ispd18_test9/ispd18_test9.input.lef
src_code/benchmark/ispd18_test9/ispd18_test9.output2
src_code/benchmark/ispd18_test9/ispd18_test9.output2.CUGR2_tree.txt
src_code/benchmark/ispd19_test1/ispd19_test1.input.def
src_code/benchmark/ispd19_test1/ispd19_test1.input.lef
src_code/benchmark/ispd19_test10/ispd19_test10.input.def
src_code/benchmark/ispd19_test10/ispd19_test10.input.lef
src_code/benchmark/ispd19_test2/ispd19_test2.input.def
src_code/benchmark/ispd19_test2/ispd19_test2.input.lef
src_code/benchmark/ispd19_test3/ispd19_test3.input.def
src_code/benchmark/ispd19_test3/ispd19_test3.input.lef
src_code/benchmark/ispd19_test3/ispd19_test3.output2
src_code/benchmark/ispd19_test3/ispd19_test3.output2.CUGR2_tree.txt
src_code/benchmark/ispd19_test4/ispd19_test4.input.def
src_code/benchmark/ispd19_test4/ispd19_test4.input.lef
src_code/benchmark/ispd19_test5/ispd19_test5.input.def
src_code/benchmark/ispd19_test5/ispd19_test5.input.lef
src_code/benchmark/ispd19_test6/ispd19_test6.input.def
src_code/benchmark/ispd19_test6/ispd19_test6.input.lef
src_code/benchmark/ispd19_test6/ispd19_test6.output2
src_code/benchmark/ispd19_test6/ispd19_test6.output2.CUGR2_tree.txt
src_code/benchmark/ispd19_test7/ispd19_test7.input.def
src_code/benchmark/ispd19_test7/ispd19_test7.input.lef
src_code/benchmark/ispd19_test7/ispd19_test7.output2
src_code/benchmark/ispd19_test7/ispd19_test7.output2.CUGR2_tree.txt
src_code/benchmark/ispd19_test7_metal5/ispd19_test7_metal5.CUGR2.guide
src_code/benchmark/ispd19_test7_metal5/ispd19_test7_metal5.CUGR2.guide.CUGR2_tree.txt
src_code/benchmark/ispd19_test7_metal5/ispd19_test7_metal5.DGR.guide
src_code/benchmark/ispd19_test7_metal5/ispd19_test7_metal5.DGR.guide.dgr_tree.txt
src_code/benchmark/ispd19_test7_metal5/ispd19_test7_metal5.input.def
src_code/benchmark/ispd19_test7_metal5/ispd19_test7_metal5.input.lef
src_code/benchmark/ispd19_test7_metal5/ispd19_test7_metal5.output2
src_code/benchmark/ispd19_test7_metal5/ispd19_test7_metal5.output2.CUGR2_tree.txt
src_code/benchmark/ispd19_test8/ispd19_test8.input.def
src_code/benchmark/ispd19_test8/ispd19_test8.input.lef
src_code/benchmark/ispd19_test8_metal5/ispd19_test8_metal5.input.def
src_code/benchmark/ispd19_test8_metal5/ispd19_test8_metal5.input.lef
src_code/benchmark/ispd19_test8_metal5/ispd19_test8_metal5.output2
src_code/benchmark/ispd19_test8_metal5/ispd19_test8_metal5.output2.CUGR2_tree.txt
src_code/benchmark/ispd19_test9/ispd19_test9.input.def
src_code/benchmark/ispd19_test9/ispd19_test9.input.lef
src_code/benchmark/ispd19_test9_metal5/ispd19_test9_metal5.input.def
src_code/benchmark/ispd19_test9_metal5/ispd19_test9_metal5.input.lef
src_code/benchmark/ispd19_test9_metal5/ispd19_test9_metal5.output2
src_code/benchmark/ispd19_test9_metal5/ispd19_test9_metal5.output2.CUGR2_tree.txt
src_code/benchmark/mempool_group/mempool_group.input.def
src_code/benchmark/mempool_group/mempool_group.input.lef
src_code/benchmark/mempool_tile/mempool_tile.def
src_code/benchmark/mempool_tile/mempool_tile.input.def
src_code/benchmark/mempool_tile/mempool_tile.input.lef
src_code/benchmark/mempool_tile/mempool_tile.output2
src_code/benchmark/mempool_tile/mempool_tile.output2.CUGR2_tree.txt
src_code/benchmark/nvdla/nvdla.def
src_code/benchmark/nvdla/nvdla.input.def
src_code/benchmark/nvdla/nvdla.input.lef
src_code/benchmark/nvdla/nvdla.output2
src_code/benchmark/nvdla/nvdla.output2.CUGR2_tree.txt
src_code/etc/Differentiable-Global-Router-backup/.gitignore
src_code/etc/Differentiable-Global-Router-backup/CLA
src_code/etc/Differentiable-Global-Router-backup/CUGR-comment.md
src_code/etc/Differentiable-Global-Router-backup/CUGR2.sh
src_code/etc/Differentiable-Global-Router-backup/data_process_CUGR2.py
src_code/etc/Differentiable-Global-Router-backup/data.py
src_code/etc/Differentiable-Global-Router-backup/DGR.sh
src_code/etc/Differentiable-Global-Router-backup/experiments.sh
src_code/etc/Differentiable-Global-Router-backup/LICENSE
src_code/etc/Differentiable-Global-Router-backup/main_stochastic.py
src_code/etc/Differentiable-Global-Router-backup/model.py
src_code/etc/Differentiable-Global-Router-backup/ray.sh
src_code/etc/Differentiable-Global-Router-backup/README.md
src_code/etc/Differentiable-Global-Router-backup/run_innovus.sh
src_code/etc/Differentiable-Global-Router-backup/test.py
src_code/etc/Differentiable-Global-Router-backup/util.py
src_code/etc/Differentiable-Global-Router-backup/.devcontainer/devcontainer.json
src_code/etc/Differentiable-Global-Router-backup/.devcontainer/Dockerfile
src_code/etc/Differentiable-Global-Router-backup/.devcontainer/requirements.txt
src_code/etc/Differentiable-Global-Router-backup/deprecated_scripts/DP_layer_assignment.py
src_code/etc/Differentiable-Global-Router-backup/deprecated_scripts/drcu.sh
src_code/etc/Differentiable-Global-Router-backup/deprecated_scripts/experiments_0716.sh
src_code/etc/Differentiable-Global-Router-backup/deprecated_scripts/extreme.bash
src_code/etc/Differentiable-Global-Router-backup/deprecated_scripts/l-shape_z-shape.bash
src_code/etc/Differentiable-Global-Router-backup/deprecated_scripts/large.bash
src_code/etc/Differentiable-Global-Router-backup/deprecated_scripts/layer_assignment.py
src_code/etc/Differentiable-Global-Router-backup/deprecated_scripts/mid.bash
src_code/etc/Differentiable-Global-Router-backup/deprecated_scripts/small.bash
src_code/etc/Differentiable-Global-Router-backup/other_scripts/data_process.py
src_code/etc/Differentiable-Global-Router-backup/other_scripts/experiments_2via.sh
src_code/etc/Differentiable-Global-Router-backup/other_scripts/experiments_CUGR2.sh
src_code/etc/Differentiable-Global-Router-backup/other_scripts/experiments_formal.sh
src_code/etc/Differentiable-Global-Router-backup/other_scripts/experiments_Tree.sh
src_code/etc/Differentiable-Global-Router-backup/other_scripts/experiments_Z.sh
src_code/etc/Differentiable-Global-Router-backup/other_scripts/ilp.py
src_code/etc/Differentiable-Global-Router-backup/other_scripts/main_ray.py
src_code/etc/Differentiable-Global-Router-backup/other_scripts/main.py
src_code/etc/Differentiable-Global-Router-backup/other_scripts/New_Tree.sh
src_code/etc/Differentiable-Global-Router-backup/other_scripts/ours_CZ.sh
src_code/etc/Differentiable-Global-Router-backup/other_scripts/ours_NoVia.sh
src_code/etc/Differentiable-Global-Router-backup/other_scripts/ours_oldSort.sh
src_code/etc/Differentiable-Global-Router-backup/other_scripts/ours_softmax.sh
src_code/etc/Differentiable-Global-Router-backup/other_scripts/ours_viacostdouble.sh
src_code/etc/Differentiable-Global-Router-backup/other_scripts/plot_coeff.py
src_code/etc/Differentiable-Global-Router-backup/other_scripts/plot_DACRebuttal.py
src_code/etc/Differentiable-Global-Router-backup/other_scripts/plot.py
src_code/etc/Differentiable-Global-Router-backup/other_scripts/plot.tcl
src_code/etc/Differentiable-Global-Router-backup/other_scripts/ray_search_lr.py
src_code/etc/Differentiable-Global-Router-backup/other_scripts/ray_search.py
src_code/etc/Differentiable-Global-Router-backup/other_scripts/read_stat.py
src_code/etc/Differentiable-Global-Router-backup/other_scripts/README.md
src_code/etc/Differentiable-Global-Router-backup/other_scripts/test_lr.py
src_code/etc/Differentiable-Global-Router-backup/other_scripts/test_new.py
src_code/etc/Differentiable-Global-Router-backup/other_scripts/test_opt.py
src_code/etc/Differentiable-Global-Router-backup/other_scripts/test_scheduler.py
src_code/etc/Differentiable-Global-Router-backup/other_scripts/tmp.py
src_code/etc/ISPD2025_benchmarks/ariane.route_segments_noclk
src_code/etc/ISPD2025_benchmarks/evaluate.tcl
src_code/etc/ISPD2025_benchmarks/gnerate_simple_input.tcl
src_code/etc/ISPD2025_benchmarks/GR.tcl
src_code/etc/ISPD2025_benchmarks/helper.tcl
src_code/etc/ISPD2025_benchmarks/ISPD25_contest_results_slides.pptx
src_code/etc/ISPD2025_benchmarks/lib_setup.tcl
src_code/etc/ISPD2025_benchmarks/openroad_evaluation.tcl
src_code/etc/ISPD2025_benchmarks/run_evaluation.sh
src_code/etc/ISPD2025_benchmarks/set_design.tcl
src_code/etc/ISPD2025_benchmarks/NanGate45/README.md
src_code/etc/ISPD2025_benchmarks/NanGate45/setRC.tcl
src_code/etc/ISPD2025_benchmarks/NanGate45/dbs/fakeram45_32x32.db
src_code/etc/ISPD2025_benchmarks/NanGate45/dbs/fakeram45_64x62.db
src_code/etc/ISPD2025_benchmarks/NanGate45/dbs/fakeram45_64x64.db
src_code/etc/ISPD2025_benchmarks/NanGate45/dbs/fakeram45_64x124.db
src_code/etc/ISPD2025_benchmarks/NanGate45/dbs/fakeram45_64x256.db
src_code/etc/ISPD2025_benchmarks/NanGate45/dbs/fakeram45_128x32.db
src_code/etc/ISPD2025_benchmarks/NanGate45/dbs/fakeram45_128x116.db
src_code/etc/ISPD2025_benchmarks/NanGate45/dbs/fakeram45_128x256.db
src_code/etc/ISPD2025_benchmarks/NanGate45/dbs/fakeram45_256x16.db
src_code/etc/ISPD2025_benchmarks/NanGate45/dbs/fakeram45_256x32.db
src_code/etc/ISPD2025_benchmarks/NanGate45/dbs/fakeram45_256x48.db
src_code/etc/ISPD2025_benchmarks/NanGate45/dbs/fakeram45_256x64.db
src_code/etc/ISPD2025_benchmarks/NanGate45/dbs/fakeram45_512x64.db
src_code/etc/ISPD2025_benchmarks/NanGate45/dbs/NangateOpenCellLibrary.db
src_code/etc/ISPD2025_benchmarks/NanGate45/lef/fakeram45_32x32.lef
src_code/etc/ISPD2025_benchmarks/NanGate45/lef/fakeram45_64x62.lef
src_code/etc/ISPD2025_benchmarks/NanGate45/lef/fakeram45_64x64.lef
src_code/etc/ISPD2025_benchmarks/NanGate45/lef/fakeram45_64x124.lef
src_code/etc/ISPD2025_benchmarks/NanGate45/lef/fakeram45_64x256.lef
src_code/etc/ISPD2025_benchmarks/NanGate45/lef/fakeram45_128x32.lef
src_code/etc/ISPD2025_benchmarks/NanGate45/lef/fakeram45_128x116.lef
src_code/etc/ISPD2025_benchmarks/NanGate45/lef/fakeram45_128x256.lef
src_code/etc/ISPD2025_benchmarks/NanGate45/lef/fakeram45_256x16.lef
src_code/etc/ISPD2025_benchmarks/NanGate45/lef/fakeram45_256x32.lef
src_code/etc/ISPD2025_benchmarks/NanGate45/lef/fakeram45_256x48.lef
src_code/etc/ISPD2025_benchmarks/NanGate45/lef/fakeram45_256x64.lef
src_code/etc/ISPD2025_benchmarks/NanGate45/lef/fakeram45_512x64.lef
src_code/etc/ISPD2025_benchmarks/NanGate45/lef/NangateOpenCellLibrary.macro.mod.lef
src_code/etc/ISPD2025_benchmarks/NanGate45/lef/NangateOpenCellLibrary.tech.lef
src_code/etc/ISPD2025_benchmarks/NanGate45/lib/fakeram45_32x32.lib
src_code/etc/ISPD2025_benchmarks/NanGate45/lib/fakeram45_64x62.lib
src_code/etc/ISPD2025_benchmarks/NanGate45/lib/fakeram45_64x64.lib
src_code/etc/ISPD2025_benchmarks/NanGate45/lib/fakeram45_64x124.lib
src_code/etc/ISPD2025_benchmarks/NanGate45/lib/fakeram45_64x256.lib
src_code/etc/ISPD2025_benchmarks/NanGate45/lib/fakeram45_128x32.lib
src_code/etc/ISPD2025_benchmarks/NanGate45/lib/fakeram45_128x116.lib
src_code/etc/ISPD2025_benchmarks/NanGate45/lib/fakeram45_128x256.lib
src_code/etc/ISPD2025_benchmarks/NanGate45/lib/fakeram45_256x16.lib
src_code/etc/ISPD2025_benchmarks/NanGate45/lib/fakeram45_256x32.lib
src_code/etc/ISPD2025_benchmarks/NanGate45/lib/fakeram45_256x48.lib
src_code/etc/ISPD2025_benchmarks/NanGate45/lib/fakeram45_256x64.lib
src_code/etc/ISPD2025_benchmarks/NanGate45/lib/fakeram45_512x64.lib
src_code/etc/ISPD2025_benchmarks/NanGate45/lib/NangateOpenCellLibrary_typical.lib
src_code/etc/ISPD2025_benchmarks/NanGate45/lib/process_rams.sh
src_code/etc/ISPD2025_benchmarks/NanGate45/qrc/NG45.tch
src_code/etc/ISPD2025_benchmarks/NanGate45/qrc/typical.captable
src_code/etc/ISPD2025_benchmarks/NanGate45/util/pdn_config.tcl
src_code/etc/ISPD2025_benchmarks/blind/NV_NVDLA_partition_c/NV_NVDLA_partition_c.cap
src_code/etc/ISPD2025_benchmarks/blind/NV_NVDLA_partition_c/NV_NVDLA_partition_c.def
src_code/etc/ISPD2025_benchmarks/blind/NV_NVDLA_partition_c/NV_NVDLA_partition_c.net
src_code/etc/ISPD2025_benchmarks/blind/NV_NVDLA_partition_c/NV_NVDLA_partition_c.sdc
src_code/etc/ISPD2025_benchmarks/blind/NV_NVDLA_partition_c/NV_NVDLA_partition_c.v
src_code/etc/ISPD2025_benchmarks/blind/NV_NVDLA_partition_c/NV_NVDLA_partition_c.v.gz
src_code/etc/ISPD2025_benchmarks/blind/ariane/ariane.cap
src_code/etc/ISPD2025_benchmarks/blind/ariane/ariane.def
src_code/etc/ISPD2025_benchmarks/blind/ariane/ariane.net
src_code/etc/ISPD2025_benchmarks/blind/ariane/ariane.sdc
src_code/etc/ISPD2025_benchmarks/blind/ariane/ariane.v.gz
src_code/etc/ISPD2025_benchmarks/blind/bsg_chip/bsg_chip.cap
src_code/etc/ISPD2025_benchmarks/blind/bsg_chip/bsg_chip.def
src_code/etc/ISPD2025_benchmarks/blind/bsg_chip/bsg_chip.net
src_code/etc/ISPD2025_benchmarks/blind/bsg_chip/bsg_chip.sdc
src_code/etc/ISPD2025_benchmarks/blind/bsg_chip/bsg_chip.v.gz
src_code/etc/ISPD2025_benchmarks/blind/mempool_cluster/mempool_cluster.cap
src_code/etc/ISPD2025_benchmarks/blind/mempool_cluster/mempool_cluster.def
src_code/etc/ISPD2025_benchmarks/blind/mempool_cluster/mempool_cluster.net
src_code/etc/ISPD2025_benchmarks/blind/mempool_cluster/mempool_cluster.sdc
src_code/etc/ISPD2025_benchmarks/blind/mempool_cluster/mempool_cluster.v.gz
src_code/etc/ISPD2025_benchmarks/blind/mempool_group/mempool_group.cap
src_code/etc/ISPD2025_benchmarks/blind/mempool_group/mempool_group.def
src_code/etc/ISPD2025_benchmarks/blind/mempool_group/mempool_group.net
src_code/etc/ISPD2025_benchmarks/blind/mempool_group/mempool_group.sdc
src_code/etc/ISPD2025_benchmarks/blind/mempool_group/mempool_group.v.gz
src_code/etc/ISPD2025_benchmarks/blind/mempool_tile_wrap/mempool_tile_wrap.cap
src_code/etc/ISPD2025_benchmarks/blind/mempool_tile_wrap/mempool_tile_wrap.def
src_code/etc/ISPD2025_benchmarks/blind/mempool_tile_wrap/mempool_tile_wrap.net
src_code/etc/ISPD2025_benchmarks/blind/mempool_tile_wrap/mempool_tile_wrap.sdc
src_code/etc/ISPD2025_benchmarks/blind/mempool_tile_wrap/mempool_tile_wrap.v
src_code/etc/ISPD2025_benchmarks/blind/mempool_tile_wrap/mempool_tile_wrap.v.gz
src_code/etc/ISPD2025_benchmarks/evaluation/evaluation.sh
src_code/etc/ISPD2025_benchmarks/evaluation/evaluator.cpp
src_code/etc/ISPD2025_benchmarks/evaluation/makefile
src_code/etc/ISPD2025_benchmarks/visible/NV_NVDLA_partition_c/NV_NVDLA_partition_c.cap
src_code/etc/ISPD2025_benchmarks/visible/NV_NVDLA_partition_c/NV_NVDLA_partition_c.def
src_code/etc/ISPD2025_benchmarks/visible/NV_NVDLA_partition_c/NV_NVDLA_partition_c.net
src_code/etc/ISPD2025_benchmarks/visible/NV_NVDLA_partition_c/NV_NVDLA_partition_c.sdc
src_code/etc/ISPD2025_benchmarks/visible/NV_NVDLA_partition_c/NV_NVDLA_partition_c.v.gz
src_code/etc/ISPD2025_benchmarks/visible/ariane/ariane.cap
src_code/etc/ISPD2025_benchmarks/visible/ariane/ariane.def
src_code/etc/ISPD2025_benchmarks/visible/ariane/ariane.net
src_code/etc/ISPD2025_benchmarks/visible/ariane/ariane.sdc
src_code/etc/ISPD2025_benchmarks/visible/ariane/ariane.v.gz
src_code/etc/ISPD2025_benchmarks/visible/bsg_chip/bsg_chip.cap
src_code/etc/ISPD2025_benchmarks/visible/bsg_chip/bsg_chip.def
src_code/etc/ISPD2025_benchmarks/visible/bsg_chip/bsg_chip.net
src_code/etc/ISPD2025_benchmarks/visible/bsg_chip/bsg_chip.sdc
src_code/etc/ISPD2025_benchmarks/visible/bsg_chip/bsg_chip.v.gz
src_code/etc/ISPD2025_benchmarks/visible/mempool_cluster/mempool_cluster.cap
src_code/etc/ISPD2025_benchmarks/visible/mempool_cluster/mempool_cluster.def
src_code/etc/ISPD2025_benchmarks/visible/mempool_cluster/mempool_cluster.net
src_code/etc/ISPD2025_benchmarks/visible/mempool_cluster/mempool_cluster.sdc
src_code/etc/ISPD2025_benchmarks/visible/mempool_cluster/mempool_cluster.v.gz
src_code/etc/ISPD2025_benchmarks/visible/mempool_group/mempool_group.cap
src_code/etc/ISPD2025_benchmarks/visible/mempool_group/mempool_group.def
src_code/etc/ISPD2025_benchmarks/visible/mempool_group/mempool_group.net
src_code/etc/ISPD2025_benchmarks/visible/mempool_group/mempool_group.sdc
src_code/etc/ISPD2025_benchmarks/visible/mempool_group/mempool_group.v.gz
src_code/etc/ISPD2025_benchmarks/visible/mempool_tile_wrap/mempool_tile_wrap.cap
src_code/etc/ISPD2025_benchmarks/visible/mempool_tile_wrap/mempool_tile_wrap.def
src_code/etc/ISPD2025_benchmarks/visible/mempool_tile_wrap/mempool_tile_wrap.net
src_code/etc/ISPD2025_benchmarks/visible/mempool_tile_wrap/mempool_tile_wrap.sdc
src_code/etc/ISPD2025_benchmarks/visible/mempool_tile_wrap/mempool_tile_wrap.v.gz
